body {
    height: 100%;
    overflow: hidden;
    width: 100% !important;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  
  
  .backRight {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #3498db url();
    background-size: cover;
    background-position: 50% 50%;
  }
  /* https://download.unsplash.com/photo-1429041966141-44d228a42775 */
  /* https://download.unsplash.com/photo-1428279148693-1cf2163ed67d */
  .backLeft {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #e74c3c url();
    background-size: cover;
    background-position: 50% 50%;
  }
  
  #back {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
  }
  
  #slideBox {
    width: 50%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .topLayer {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;
  }
  
  .left {
    width: 50%;
    height: 100%;
    background: #2C3034;
    left: 0;
    position: absolute;
  }
  
  .right {
    width: 50%;
    height: 100%;
    background: #f9f9f9;
    right: 0;
    position: absolute;
  }
  
  .content {
    text-align: center;
    margin: 0 auto;
    top: 25%;
    position: absolute;
    left: 30%;
    right: 5%;
    margin-left: -125px;
  }
  
  .content h2 {
    color: #03A9F4;
    font-weight: 300;
    font-size: 30px;
  }
  
  button {
    background: #03A9F4;
    padding: 10px 16px;
    width: auto;
    font-weight: 600;
    text-transform:  uppercase;
    font-size: 14px;
    color: #fff;
    line-height: 16px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    border: 0;
    outline: 0;
    margin: 15px 15px 15px 0;
    transition: all 0.25s;
  }
  
  button:hover {
    background: #0288D1;
    box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  }
  .off {
    background: none;
    color: #03A9F4;
    box-shadow: none;
  }
  
  .right .off:hover {
    background: #eee;
    color: #03A9F4;
    box-shadow: none;
  }
  .left .off:hover {
    box-shadow: none;
    color: #03A9F4;
    background: #363A3D;
  }
  input[type=text],input[type=date],input[type=number],select{
    background: transparent;
    width:50%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #45494C;
    font-size: 14px;
    color: #959595;
    padding: 10px;
    margin-top: 20px;
  }
  .input-error{
    border:1px solid orangered !important;
  }
  textarea{
    width:100%;
    height:200px;
    min-width:400px;
    min-height:100px;
    max-width:90%;;
    max-height:200px;
    background: transparent;
    padding:10px;
    border: 0;
    outline: 0;
    border: 1px solid #45494C;
    font-size: 14px;
    color: #959595;
    margin-top: 20px;
  }
  /* The container */
.radio-container {
  display: block;
  width: 80px;
  position: relative;
  padding-left: 35px;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 top: 9px;
left: 9px;
width: 8px;
height: 8px;
border-radius: 50%;
background: white;
}

.form-group{
  margin-top:20px;
  margin-bottom:20px;
}