/* ******************************************************************************* */
/* TAGS */
/* ******************************************************************************* */

body{
    margin: 0px;
}

a{
    text-decoration: none;
}

/* ******************************************************************************* */
/* HEADER */
/* ******************************************************************************* */

.header{
    position: fixed;
    top:0;
    left: 0;
    height: 90px;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}
.logo{
    margin-left: 50px;
    width: 300px;
    height: 30px;
    margin-top: 30px;
}
.hamburger{
    margin-top: 26px;
    cursor: pointer;
    z-index: 99999;
}
.hamburger>span{
    background: #000;
    display: block;
    width: 30px;
    height: 2px;
    margin-top:10px;
    margin-right: 50px;
}
.hamburger>span:nth-child(2){
    width: 25px;
}

.hamburger:hover span:nth-child(2){
    -webkit-animation: shrink-middle 0.25s ease-in-out;
    animation: shrink-middle 0.25s ease-in-out;
}

.expand-span{
    -webkit-animation: expand-middle 0.25s ease-in-out;
    animation: expand-middle 0.25s ease-in-out;
}


/* ******************************************************************************* */
/* CONTENT */
/* ******************************************************************************* */

.content{
    display: flex;
}
.section{
    width: 33.333%;
    height: 100%;
    min-height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px){
    .content{
        display: block;
    }

    .m-display-none{
        display: none;
    }
    .section{
        width: 100%;
    }
    .logo{
        height: 15px;
        width: 150px;
    }
    .hamburger>span{
        width: 20px;
        height: 1px;
        margin-top:5px;
    }
    .hamburger>span:nth-child(2){
        width: 15px;
    }
    .signup{
        background: #22A8C8;
        color: #fff;
    }
    .description{
        /* background: #89AAA0; */
        background: #444872;
        color: #fff;
    }
    .description .enroll-steps{
        background: #dd4b39;
    }
    .customize{
        background: #B6373C;
        color: #fff;
    }
    .header{
        background: #fff;
    }
    .customize{
        padding-bottom: 50px;
    }
    .fb-m{
        background: #3b5998;
        color: #fff;
    }
    .gg-m{
        background: #dd4b39;
        color: #fff;    
    }
    .ln-m{
        color: #fff;
        background: #007bb6;
    }
    .social i{
        color: #fff;
    }
}
.signup{
    padding-bottom: 50px;
}
.signup:hover{
    background: #22A8C8;
    color: #fff;
}
.signup-content{
    z-index: 99;
    padding-top: 40%;
    padding-left: 50px;
    position: relative;
}

.description{
    padding-bottom: 50px;
}
.description:hover{
    background: #444872;
    color: #fff;
}

.description:hover .enroll-steps{
    background: #dd4b39;
}
.desc-content{
    z-index: 99;
    padding-top: 30%;
    padding-left: 50px;
    position: relative;
}
.customize{
    border: none;
    padding-bottom: 50px;
}
.customize-content{
    z-index: 99;
    padding-top: 40%;
    padding-left: 50px;
    position: relative;
    overflow: hidden;
}
.customize:hover{
    background: #B6373C;
    color: #fff;
}
.customize-bg{
    background: #B6373C;
    color: #fff;
}

/* ******************************************************************************* */
/* FONTS */
/* ******************************************************************************* */

.font-14{
    font-size: 14px;
}
.font-18{
    font-size: 18px;
}
.font-wt-400{
    font-weight: 400;
}
.font-24{
    font-size: 24px;
}
.font-40{
    font-size: 40px;
}

/* ******************************************************************************* */
/* SOCIAL */
/* ******************************************************************************* */

.social{
    padding: 15px;
    width: 35px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 15px;
    color: #000;
}
.fb{
    background: #3b5998;
    color: #fff;
}
.gg{
    background: #dd4b39;
    color: #fff;    
}
.ln{
    color: #fff;
    background: #007bb6;
}

/* ******************************************************************************* */
/* GENERAL */
/* ******************************************************************************* */

.flex{
    display: flex;
}
.width-75{
    width: 75%;
}
.display-none{
    display: none!important;
}
.margin-bottom-0{
    margin-bottom: 0px;
}
.margin-top-10vh{
    padding-top: 15vh
}

/* ******************************************************************************* */
/* ANIMATIONS */
/* ******************************************************************************* */

.animate-signup-image-in{
    -webkit-animation: signup-image-animation-in 0.5s ease-in-out;
    animation: signup-image-animation-in 0.5s ease-in-out;
}

.animate-signup-image-out{
    -webkit-animation: signup-image-animation-out 0.5s ease-in-out;
    animation: signup-image-animation-out 0.5s ease-in-out;
}

.animate-contact-image-in{
    -webkit-animation: contact-image-animation-in 0.5s ease-in-out;
    animation: contact-image-animation-in 0.5s ease-in-out;
}

.animate-contact-image-out{
    -webkit-animation: contact-image-animation-out 0.5s ease-in-out;
    animation: contact-image-animation-out 0.5s ease-in-out;
}

.signup-bg-img{
    position: absolute;
    height: 350px;
    width: 350px;
    top:30%;
    left:20%;
    z-index: 1;
}

.contact-bg-img{
    position: absolute;
    height: 350px;
    width: 350px;
    top:10%;
    left:55%;
    z-index: 1;
}

@keyframes signup-image-animation-in{
    from{
        display: none;
        opacity: 0;
        left: 25%;
    }
    to{
        display: block;
        opacity: 1;
        left: 20%
    }
}

@keyframes signup-image-animation-out{
    from{
        display: block;
        opacity: 1;
        left: 20%
    }
    to{
        display: none;
        opacity: 0;
        left: 25%;
    }
}

@keyframes contact-image-animation-in{
    from{
        display: none;
        opacity: 0;
        left: 50%;
    }
    to{
        display: block;
        opacity: 1;
        left: 55%
    }
}

@keyframes contact-image-animation-out{
    from{
        display: block;
        opacity: 1;
        left: 55%
    }
    to{
        display: none;
        opacity: 0;
        left: 50%;
    }
}

@keyframes shrink-middle{
    from{
        width:25px;
        margin-top: 10px; 
    }
    to{
        width: 0px;
        margin-top: 0px;
    }
}

@keyframes expand-middle{
    from{
        width: 0px;
        margin-top: 0px;
    }
    to{
        width:25px;
        margin-top: 10px; 
    }
}

/* Contact US */

.input-width{
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 10px 0px 10px 10px;
    width: 100%;
    background-color: #e8eeef;
    color:#8a97a0;
    margin-bottom: 30px;
    height: 25px;
}

.input-width:focus{
    background: #d2d9dd;
}

.submit-btn{
    position: relative;
    display: block;
    padding: 10px 0px 10px 10px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;  
     
}

/* CUSTOMIZE */

.enroll-steps{
    padding: 12px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 10px; 
}

.overlay-div1{
    width:33.333%;
    height: 100%;
    min-height: 100vh;
    background: rgba(255,255,255,0.8);
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay-div2{
    width:33.333%;
    height: 100%;
    min-height: 100vh;
    background: rgba(255,255,255,0.8);
    z-index: 50;
    position: absolute;
    top: 0;
    left:33.333%;
}

.overlay-div3{
    width:33.333%;
    height: 100%;
    min-height: 100vh;
    background: rgba(255,255,255,0.8);
    z-index: 50;
    position: absolute;
    top: 0;
    left: 66.666%;
}

/* MENU */

.menu-section{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    background: #000;
    z-index: 999;
    color: #7f7f7f;
    text-align: center;
}

.menu-section h3{
    margin-top: 10vh;
    cursor: pointer;
    color: #7f7f7f;
}

.menu-section h3:hover{
    color: #fff;
}

.menu-close{
    position: fixed;
    z-index: 1000;
    top: 5%;
    right: 5%;
    font-size: 44px;
    cursor: pointer;
    color: #7f7f7f;
}

.menu-close:hover{
    color: #fff;
}

.signup-body {
    background-color: #663399;
    outline: none!important;
}

#header-signin {
    color: #fff;
    text-align: center;
    margin-top: 20vh;
    font-size: 40px;
}

.signup-section {
    text-align: center;
}

.social-btn{
    border-radius: 25px;
    padding: 6px 10px 6px 7px;
    margin-top: 40px;
    width: 280px;
    color: #ffffff;
    border: 1px solid #fff;
    cursor: pointer;
}

@media (max-width: 768px){
    .social-btn{
        width: 80%;
    }
}

.social-btn:focus {
    outline: none!important;
}


.social-logo {
    font-size: 14px;
    padding: 7px 15px;
}

#btn-fb {
    background-color: #3b5998;
}

#btn-gg {
    background-color: #d34836;
}

#btn-ln {
    background-color: #0077B5;
}

/* Profile Page  */

.profile-body{
background-color:#D9DAEA;
}

.inner-box{
    margin: 100px;
    background: #f7f7f7;
    -webkit-box-shadow: 0 20px 50px 5px #777;
    -moz-box-shadow: 0 20px 50px 5px #777;
    box-shadow: 0 20px 50px 5px #777;
    height: calc(100vh - 200px);
    min-height: calc(100vh - 200px);
    position: relative;
    overflow-y: scroll;
}
.app-overview{
position:relative;
    text-align: center;
    background-color: #00B2FF;
    border: #fff 1px solid;
    border-radius: 10px;
    height: auto;
    width: 48%;
    padding: 15px;
    color: #fff;
    margin: 10% 24% 2% 24%;
}
.align-center{
text-align:center;
}
.profile-dp{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 105px;
    width:auto;
    border:#000 1px solid;
    border-radius:50%;
    margin: 1% 43% 2% 43%;
}

.profile-name{
margin:auto;
text-align:center;
padding-top: 50px;
}

.profile-name span{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}

.profile-name strong{
    font-weight: 400;
}

.select-option{
text-align:left;
width: 30%;
margin-left: 40%; 
position: absolute;
top: 25%;
}

.select-option > label{
    margin-top: 25px;
    font-size: 20px;
}

.role-header{
font-size:25px;
}

.select-role{
margin-top:35px;
height:25px;
border:#000 1px solid;
text-shadow: 0px 0px 0px black;
}

.profile-page-submit{
    text-align: center;
    position: absolute;
    bottom: 15vh;
    left: calc(50% - 80px);
margin-top:35px;
font-size:20px;
font-weight: 400;
color: #438CF3;
background-color:#f7f7f7;
border: 1px solid rgba(0,0,0,.1);
padding: 20px 40px;
border-radius:25px;
outline:none;
-webkit-box-shadow: 0 7px 6px -6px #777;
-moz-box-shadow: 0 7px 6px -6px #777;
     box-shadow: 0 7px 6px -6px #777;
}

.profile-page-submit i{ 
    margin-left: 10px;
}

.profile-page-submit:hover{
    color: #fff;
    background-color:#438CF3;
}
/* 438CF3 */

.profile-page-submit:hover{
cursor:pointer;
}


/* Questionnaire page */

.questionnaireSection{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 32px;
    position:relative;
}


.userInputDetails{
    width: 55%;
    height: 36px;
    border: #000 1px solid;
    border-radius: 5px;
    margin-bottom: 16px;
    padding-left: 12px;
}

@media (max-width: 768px){
    .questionnaireSection{
        margin-left: 30px!important;
        margin-right: 30px!important;
    }
    .userInputDetails{
        width: 90%;
        height: 40px;
    }
}

.questionnaireSubmit{
    width: 135px;
    height: 36px;
    background-color:#00B2FF;
    border:#000 1px solid;
    border-radius:5px;
    outline:none;
    font-size: 25px;
    margin-top: 10px;
}

.slide-indicator{
    margin-top: 50px;
    position: absolute;
    bottom: 5vh;
    left: calc(50% - 42px);
}
.slide-indicator i{
    color: #b1b1b1;
    margin-right: 10px; 
}
.slide-indicator > .active{
    color: #438CF3!important;
}


.font-25{
    font-size: 25px;
}
.font-50{
    font-size: 50px;
}



.questionnaireSubmit:hover{
cursor:pointer;
}

@media (max-width: 768px){
    .inner-box{
        margin: 25px;
        margin-top: 100px;
    }
    .select-option{
        width: 80%;
        margin-left: 10%;
    }
}

.qbutton{
    text-align: center;
    position: fixed;
    bottom: 20%;
    left: calc(50% - 80px);
    margin-top:35px;
    font-size:20px;
    font-weight: 400;
    color: #438CF3;
    background-color:#f7f7f7;
    border: 1px solid rgba(0,0,0,.1);
    padding: 20px 40px;
    border-radius:25px;
    outline:none;
    -webkit-box-shadow: 0 7px 6px -6px #777;
    -moz-box-shadow: 0 7px 6px -6px #777;
     box-shadow: 0 7px 6px -6px #777;
}
.qbutton:hover{
    background : #438CF3;
    color: #f7f7f7;
    cursor: pointer;
}

.slide-indicator{
    margin-top: 50px;
    position: fixed;
    bottom: 15%;
    left: calc(50% - 42px);
}
.slide-indicator i{
    color: #b1b1b1;
    margin-right: 10px; 
}
.slide-indicator > .active{
    color: #438CF3!important;
}



/* Radio button */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* ************************************************** */